../.idea/
poetry.lock
.spotipyoauthcache
spotify_sorter/.env
*.zip
/spotify_sorter/terraform/.terraform/
/spotify_sorter/terraform/.terraform.lock.hcl
/spotify_sorter/terraform/terraform.tfstate.backup
/spotify_sorter/terraform/python/
/spotify_sorter/terraform/terraform.tfstate
/spotify_sorter/terraform/spotify_lambda/*
!/spotify_sorter/terraform/spotify_lambda/main.py
.DS_Store
/spotify-sorter/__pycache__/
